@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post" asp-action="AgregarProducto">
    <div>
        <label asp-for="Nombre">Nombre:</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Precio">Precio:</label>
        <input asp-for="Precio" class="form-control" />
        <span asp-validation-for="Precio" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Agregar Producto</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaDeProductos != null)
        {
            @foreach (var producto in Model.ListaDeProductos)
            {
                <tr>
                    <td>@producto.Nombre</td>
                    <td>@producto.Precio</td>
                    <!-- Agrega más celdas según tus necesidades -->
                </tr>
            }
        }
    </tbody>
</table>